# Logs
logs
*.log
*.vscode

# npm and cache
.npm
node_modules/
.eslintcache

# Build artifacts
_site/
coverage/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local Netlify folder
.Netlify
