<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%- if title -%}{{ title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
{%- if site.description -%}
  <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}{{ site.description }}{%- endif -%}">
{%- endif -%}
  <link rel="stylesheet" href="sass/styles.css" />
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
